body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Barre latérale gauche */
#sidebar {
    width: 60px;
    height : 100vh;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    overflow-y: auto;
    justify-content: center
}

#sidebar h2 {
    color: #fff;
    margin-bottom: 20px;
}

.sidebar-bookmark {
    text-align: center;
    margin-bottom: 20px;
    width: 100px;
}

.sidebar-bookmark a {
    color: white;
    text-decoration: none;
}

.sidebar-bookmark a:hover {
    text-decoration: underline;
}

.sidebar-bookmark img {
    display: block;
    width: 40px;
    height: 40px;
    margin-left : 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    transition: transform 0.2s ease;
}

.sidebar-bookmark img:hover {
transform: scale(1.2); /* Grossit l'icône de 20% */
}

.dragging {
    opacity: 0.5;
}

/* Conteneur principal */
#main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#main-content h1 {
    color: #333;
    margin-bottom: 20px;
}

.bookmark-container ul {
    margin-left: 10%;
}

.bookmark-folder {
    margin-bottom: 20px;
}

.bookmark-folder h2 {
    font-size: 1.5rem;
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.bookmark-folder ul {
    list-style-type: none;
    padding-left: 0;
}

.bookmark-folder ul li {
    margin-bottom: 8px;
}

.bookmark-folder ul li a {
    text-decoration: none;
    color: #0066cc;
    font-size: 1.1rem;
}

.bookmark-folder ul li a:hover {
    text-decoration: underline;
}

.bookmark-folder img{
    width: 20px;   /* Set desired width */
    height: 20px;  /* Set desired height */
    object-fit: contain; /* Ensures images maintain aspect ratio without distortion */
}

/* Style des icônes*/
img {
    border-radius: 10px;
}

/* Google Search Bar Styling */
/* #google-search {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

#google-search input[type="text"] {
    width: 60%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#google-search input[type="submit"] {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#google-search input[type="submit"]:hover {
    background-color: #005bb5;
} */